/* Header section */
body button{
    cursor: pointer;
}
body li{
    cursor: pointer;
}
body svg{
    cursor: pointer;
}
.navbar {
    max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-family: Manrope;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav_btn{
    cursor: pointer;
}
.content_nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  line-height: 22px;
}
.nav_btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #101010;
  font-family: Manrope;
  font-weight: 700;
  line-height: 24px;
}
.hamburger {
  display: none;
  position: relative;
}
.dropdown {
  max-width: 390px;
  margin: 0px auto 0px auto;

  /* position: absolute; */
  
  display: block;

  background: #ffffff;
}

.cross-icon {
  display: flex;
  justify-content: end;
  width: 90%;
  margin-top: 30px;
}
.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 0px;
  align-items: center;
}
.cross-icon {
  cursor: pointer;
}

.dropdown ul li {
  cursor: pointer;
}
.dropdown ul button {
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

/* Hero section */
.hero {
    max-width: 1760px;
  margin-left: auto;
  font-family: Manrope;
  margin-right: auto;

  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.hero_content {
  max-width: 72.22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero h1 {
  color: white;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-family: "Titania", sans-serif;
}
.hero p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;

  width: 90%;

  text-align: center;

  color: #ffffff;
}
.hero button {
  padding-left: 66.5px;
  padding-right: 66.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  background: #edbd6b;
  border-radius: 40px;
  box-shadow: 4px 5px 0px #000000;
  cursor: pointer;
}
/* Services */
.services {
    max-width: 1440px;
  background-color: #ffff;
  padding-top: 80px;

  padding-bottom: 80px;
  padding-left: 160px;
  padding-right: 160px;
  font-family: Manrope;
  margin-left: auto;
  margin-right: auto;
}
.services-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.services-main h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  margin: 0px auto 0px auto;


  color: #101010;


  flex: none;
  order: 0;
  align-self: stretch;
}
.services-main p {
  max-width: 520px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Digital-services {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Digital-services1 {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menuheading1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.menuheading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  color: #505050;
  font: 28px;
}
.line {
  width: 100%;
  padding-top: 1px;
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.drop {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.forward_icon {
  cursor: pointer;
}
.Serv-partition {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.Card {
  max-width: 530px;
  padding: 30px 30px 30px 30px;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(153, 153, 153, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-Serv{
    width: 100%;
}
.image-Serv img{
    width: 100%;
}
.tags-comp{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.tags-comp button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFF0D7;
    border: none;
    border-radius: 60px;

}
.Services-dropdown{
    max-width: 590px;
    margin-left: 10px;
    margin-right: 10px;
}
.services-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.btn-1{
  background-color: #101010;
  color: #ffff;
  padding: 15px 85.5px 15px 85.5px;
  box-shadow: 4px 5px 0px #EDBD6B;
border-radius: 40px;

}
.btn-2{
    background-color: #fff;
    color: #101010;
    padding: 15px 30px 15px 30px;
    box-shadow: 4px 5px 0px #EDBD6B;
  border-radius: 40px;
  

}






/* About us Section */
.About{
    max-width: 1440px;
    margin-left: auto;
    font-family: Manrope;
    margin-right: auto;
    padding: 80px 160px 80px 160px;
    background: #101010;
   
}
.About-main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.pcimage{
   min-width: 500px;
    height: 462px;
}
.pcimage img{
    width: 100%;
    height: 100%;
}
.About-Description{
    max-width: 450px;

   
    color: #fff;
}
.About-Description p{
    line-height: 24px;

}
.brown-line{
    background-color: #EDBD6B;
   height: 1px; 
   border: none;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.About-Aim{
    display: flex;
    gap: 30px;
    justify-content: space-between;

}
.Aim-Card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
}
.Aim-Card h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 38px;
color: #EDBD6B;
margin: 0px 0px 0px 0px;

}
.Aim-Card p{
    color: #fff;
    padding-right: 20px;
    margin: 0px;
    line-height: 24px;

}

/* Communication */
.Communication{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: Manrope;
    padding: 80px 160px 80px 160px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.work{
max-width: 520px;
display: flex;
flex-direction: column;
gap: 34px;
margin: 0px 0px 20px 0px;
}
.work h1{
    font-size: 36px;
}
.Com-btn{
    display: flex;
    gap: 10px ;
}
.Com-btn button{
    padding: 10px 40px 10px 40px;
    box-shadow: 4px 5px 0px #EDBD6B;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
   
    

}
.Com-btn1{
    background-color: #000000;
    color: #fff;
}
.Com-btn2{
    background-color: #fff;
    color: #000000;
}
.Com-Card{
    background-color: #F0F7F9;
    border-radius: 20px;
    width: 550px;
    padding: 82px 18.64px 0px 18.64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Com-prom{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22.74px;
    align-items: center;
}
.Card-first-heading{
    width: 154px;
    text-align: center;
}
.Card-last-Comp{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 14.6px;
    align-items: center;
    padding: 0px 0px 0px 0px;
}
.Analytics-icon{
    width: 285px;
    height: 157px;
}
.Analytics{
    width: 285px;
   
}
.Strategy{
    width: 95px;
}
.creativity{
    width: 106px;
}


/* Questions */
.Questions{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F7F9;
    font-family: Manrope;
    padding: 80px 160px 80px 160px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

}
.Frequently{
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Requirement{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.Req-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Req-lists h4{
    margin: 0px 0px 0px 0px;
  width: 430px;
}
.Req-lists p{
    margin: 0px 0px 0px 0px;
    
}


/* Contact */
.contact{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: Manrope;
    padding: 80px 160px 80px 160px;
    display: flex;
    justify-content: space-between;
    gap: 60px;



}

.contact-info{
    width: 510px;

}
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 38px;
}
.contact-content h1{
 margin: 0px 0px 0px 0px;
}
.contact-content p{
 margin: 0px 0px 0px 0px;
 color: #777777;
}
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 28.3px;
    font-weight: 500;

}
.phone{
        align-items: center;
        display: flex;
        gap: 16.25px;
}
.social-icons{
    margin-top: 70px;
    display: flex;
    gap: 26px;
}
.form{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 7.99px;
}
.input-field input{
    padding-bottom: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.input-field textarea{
    padding-bottom: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.input-field input:focus{
    outline: none;
    
}
.input-field textarea:focus{
    outline: none;
    
}
.form-content{
    display: flex ;
    flex-direction: column;
    gap: 40px;
}
.submit-btn{
    background: #101010;
    box-shadow: 4px 5px 0px #EDBD6B;
    border-radius: 40px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;
}

/* career */
.career{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: Manrope;
    padding: 80px 160px 80px 160px;
    background-color:  #101010;
    color: #fff;
    display: flex;
    gap: 50px;
}
.owl{
    width: 486px;
}
.owl h1{
    margin: 0px 0px 0px 0px;
}
.mind-owl{
    width: 550px;
}

.mind-owl h1{
    margin: 0px 0px 0px 0px;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
}
.mail-us{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 22px;
}

/* Help Section  */
.help{
    max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
    font-family: Manrope;
    
    background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover; 
     background-position: center;
   
}
.darken{
    padding: 80px 160px 80px 160px;
    max-width:1760px;
   
    
    background: #00000091;
}
.help-note{
    background-color: #EDBD6B;
    display: flex;
    max-width: 100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.help-note h1{
    text-align: center;
    width: 605px;
    font-size: 36px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}
.help-btn{
    background: #101010;
box-shadow: 4px 5px 0px #FFFFFF;
border-radius: 40px;
color: #fff;
padding: 10px 40px 10px 40px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
}

/* footer */
.footer{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: Manrope;
    padding: 80px 160px 80px 160px;
    background-color: #F0F7F9;
    display: flex;
    justify-content: space-between;

    


}
.Foot-Address{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 234px;
}
.Foot-Address h4{
  margin-top: 0px;
  margin-bottom: 0px;
}
.Foot-Address p{
  margin-top: 0px;
  text-decoration: underline;
  margin-bottom: 0px;
}
.foot-list{
    width: 170px;
}
.foot-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.foot-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-content{
    width: 259px;
}

